body {
  padding:0px;
  margin:0px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; 
}

.form-signin input{
  margin-bottom:10px;
}


.install_success_message{
  display:none;
  width:100%;
  text-align:center;
}

.install_message{
  display:none;
  text-align:center;
}